* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body {
    height: 100%;
    font-family: 'Libre Franklin', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.nav_li li a{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
li {
    list-style: none;
}
.nav_block {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.nav_li {
    display: flex;
    gap: 40px;
}
.hd_main {
    padding: 60px 0;
}
.hd_main .container{
    display: flex;
    gap: 51px;
}
.text1 {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}
.title {
    margin: 18px 0 27px;
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #000000;
}
.hd_p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.by {
    margin-top: 28px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}