* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
.orange_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}
.banner1_Rectange {
    margin: 150px 0 58px;
}
.container {
    max-width: 1200px;
    margin:0 auto;
    padding: 0 5px;
}
.nav {
    margin: 2px 10px 0 0;
}
.nav_links {
    display: flex;
    gap: 30px; 
    list-style: none;
}
.nav li a{
    font-size: 15px;
    line-height: 16px;
    color:#444444;
    transition: all .3s;
}
.nav li a:hover {
    color: #FF8A63;
}
.header_w {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 14px;
}
.header {
    background-color: #ffffff;
    height: 73px;
}
.banner1 {
    background: url(/img/bs.jpg) no-repeat top center;
    background-size: cover;
}
.rectangle{
    background-size: cover;
    height: 100%;
    background: rgba(250, 250, 252, 0.78);
}
.banner_title {
    text-align: center;
    font-size: 32px;
    line-height: 45px;
    font-weight: 400;
    color: #45525B;
    max-width: 525px;
} 
.banner_w {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner_img {
    margin:248px 0 10px ;
}

/* Sc 1 */

.section1 {
    background: #FAFAFC;
    padding: 100px 0;
}
.sc1_orange_text {
    block-size: 12px;
    margin: 55px 0 0;
}
.sc1_title {
    max-width: 491px;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: #45525B;
}
.sc1_text1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.sc1_text2 {
    margin: 8px 0 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.sc1_content {
    display: flex;
    justify-content: space-between;
}
.sc1_contact_text1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}
.sc1_contact_text2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    color: #6F7278;
    text-transform: uppercase;
} 
.sc1_contact {
    display: flex;
    margin: 19px 0 0;
}
.sc1_block2 {
    max-width: 50%;
}
.sc1_contact_text {
    margin: 21px 0 0 8px;
}

/* Sc 2 */

.section2 {
    padding: 100px 0;
}
.sc2_block1 {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.sc2_block1_text {
    color: #6F7278;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.sc2_orange_text {
    block-size: 16px;
}
.sc2_title {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
}
.sc2_block2 {
    display: flex;
    gap: 32px;
    justify-content: center;
}
.sc2_icons {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
}
.sc2_icons:first-child {
    background-color: #FAFAFC;
    border-radius: 10px;
}
.sc2_icon {
    padding: 21px;
    max-width: 300px;
}
.sc2_icon_title {
    margin: 9px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
    block-size: 19px;
}
.sc2_icon_text {
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
}
.banner2 {
    height: 601px;
    background: url(/img/House.jpg) center no-repeat;
    background-size: cover;
}

/* Sc 3 */

.sc3_blocks {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
} 
.section3 {
    background: #FAFAFC;
    padding: 100px 0;
}
.sc3_icons {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #45525B;
    gap: 8px;
    align-items: center;
}
.sc3_orange_text {
    block-size: 16px;
}
.sc3_title {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
}
.sc3_p {
    margin: 13px 0 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #6F7278;
}
.sc3_Show_all{
    justify-content: center;
    display: flex;
    gap: 6px;
    margin: 20px 0 0;
    align-items: center;
}
.sc3_house_info {
    margin: 10px 32px 22px ;
    display: flex;
    justify-content: space-between;
}
.sc3_block_text {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}
.sc3_h {
    font-size: 20px;
    line-height: 28px;
    color: #45525B;
    font-weight: 400;
}
.sc3_Show_all div a {
    color:#45525B;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}
.sc3_img {
    margin-bottom: 20px;
}
.sc3_block {
    background: #fff;
    border-radius: 8px;
    max-width: 380px;
}

/* Sc 4 */

.section4 {
    padding: 100px 0;
}
.sc4_block2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    max-height: 284px;
}
.sc4_block1 {
    margin: 0 64px 0 0;
}
.sc4_show_all {
    align-items: center;
    gap: 8px;
    display: flex;
}
.sc4_orange_text {
    block-size: 16px;
}
.sc4_h {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
}
.sc4_p {
    margin: 13px 0 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #6F7278;
}
.sc4_a a {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #45525B;
}
.sc4_container {
    display: flex;
}
.sc4_contact {
    display: flex;
    margin-right: 133px;
}
.sc4_contact_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}
.profession {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}
.contact_text {
    margin: 21px 0 21px 8px;
}

/* Sc 5 */

.section5 {
    background: #FAFAFC;
    padding: 100px 0;
}
.sc5_orange_text {
    block-size: 16px;
}
.sc5_h {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
}
.sc5_1 {
    text-align: center;
}
.sc5_2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}
.sc5_show_all div a {
    color:#45525B;
}
.sc5_show_all{
    justify-content: center;
    display: flex;
    gap: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    align-items: center;
}
.sc5_block {
    max-width: 376px;
    background-color: #ffffff;
    border-radius: 8px;
}
.sc5_blocks_orange_text {
    margin: 30px 0 8px 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.sc5_text {
    margin: 0 0 10px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #45525B;
}
.date {
    margin: 0 0 30px 30px ;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #6F7278;
}

/* Sc 6 */

.section6 {
    padding: 100px 0;
}
.sc6_orange_text {
    block-size: 16px;
}
.sc6_h {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
}
.stars {
    display: flex;
}
.item {
    background: #ffffff;
    border: 1px solid rgba(82, 80, 59, 0.1);
    border-radius: 4px;
    padding: 32px 32px;
}
.item_username::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 24px;
    background-color: #FF8A63;
    top: 0px;
    left:-10px;
}
.item_username {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #45525B;
    margin: 19px 0 0 10px;
}
.item_h {
    margin: 7px 0 11px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}
.item_p {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}
.block2 .owl-carousel{
    gap: 30px;
}
.owl-nav {
    display: block!important;
    position: relative;
    text-align: right!important;
}

/* Sc7 */

.section7 {
    background-color: #45525B;
    padding: 100px 0;
}
.sc7_block1 {
    text-align: center;
}
.sc7_not_orange_text {
    block-size: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FAFAFC;
}
.sc7_h {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}
.sc7_p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FAFAFC;
    margin: 13px 0 30px 0;
}
.sc7_block2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.sc7_contact a {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px 18px;
    transition: all .3s;
}
.sc7_see_listings a {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #45525B;
    padding: 10px 18px;
    background: #FFFFFF;
    border-radius: 6px;
    transition: all .3s;
}
.sc7_contact a:hover {
    background: #bababa;
}
.sc7_see_listings a:hover {
    background: #bababa;
}

/* footer */

.footer {
    padding: 100px 0;
    background-color: #292C32;
}
.ft_logo {
    text-align: center;
}
.ft_columns {
    margin: 76px 0 26px;
    display: flex;
    justify-content: space-between;
}
.ft_column {
    width: 220px;
    flex-direction: column;
}
.ft_orange_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.ft_text {
    margin-top: 9px;
}
.ft_text a{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    transition: all .3s;
}
.ft_text a:hover {
    color: #FF8A63;
}
.ft_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
} 
.ft_text2 {
    margin: 0 0 10px;
    color:#FAFAFC; 
}
.ft_email {
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    width: 458px;
    height: 53px;
    padding:0 90px 0 34px; 
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #6F7278;
    font-family: 'Poppins', sans-serif;
}
.ft_email:focus {
    border: none;
}
.ft_ {
    display: flex;
    justify-content: space-between;
}
.ft_links {
    gap:20px;
    display: flex;
}
.ft_submit { 
    position: absolute;
    cursor:pointer; 
    width: 73px;
    height: 39px;
    background: #3A4443;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    top: 7px;
    right: 7px;
}
.ft_email_block {
    position: relative;
}
.ft_column li {
    list-style: none;
}

/*media*/

@media screen and (max-width:1167px) {
    .sc5_2 {
        flex-direction: column;
        align-items: center;
    }
    .sc3_text {
        margin-left: 20px;
    }
    .sc6_block1 {
        margin-left: 10px;
    }
    .sc4_h {
        font-size: 32px;
        line-height: 37px;
    }
    .sc4_p {
        font-size: 15px;
        line-height: 21px;
    }
    .sc4_orange_text {
        font-size: 12px;
    }
    .sc4_block1 {
        margin: 0 54px 0 10px;
    }
}
@media screen and (max-width:1021px) {
    .banner_img {
        margin-bottom: 20px;
        margin-top: 180px;
    }
    .banner1_Rectange {
        margin: 150px 0 0;
    }     
    .ft_email {
        width: 425px;
        padding: 0 90px 0 20px;
    }
    .section1 {
        padding: 50px 0;
    }
    .section2 {
        padding: 50px 0;
    }
    .section3 {
        padding: 50px 0;
    }
    .section4 {
        padding: 50px 0;
    }
    .section5 {
        padding: 50px 0;
    }
    .section6 {
        padding: 50px 0;
    }
    .section7 {
        padding: 50px 0;
    }
    .footer {
        padding: 50px 0;
    }
    .ft_columns {
        margin: 50px 0 26px;
    }
    .sc4_contact {
        margin-right: 80px;
    }
    .sc1_text1 {
        font-size: 14px;
    }
    .sc1_text2 {
        font-size: 14px;
    }
    .sc1_title {
        font-size: 40px;
        line-height: 49px;
    }
    .banner_w {
        height: 600px;
    }
    .rectangle {
        height: 660px;
    }
    .ft_text {
        font-size: 14px;
        line-height: 20px;
    }
    .ft_text a{
        font-size: 14px;
        line-height: 20px;
    }
    .item_p {
        font-size: 14px;
    }
}
@media screen and (max-width:941px) {
    .sc4_container {
        display: flex;
        flex-direction: column;
    }
    .sc4_block2 {
        margin-top: 20px;
    }
}
@media screen and (max-width:800px) {
    .ft_columns {
        flex-wrap: wrap;
        gap: 20px;
    }
    .sc1_title {
        font-size: 32px;
        line-height: 39px;
    }
    .sc1_orange_text {
        font-size: 13px;
    }
    .banner_img {
        margin-bottom: 15px;
        margin-top: 150px;
    }
    .banner1_Rectange {
        margin: 120px 0 0;
    }        
}